black==23.11.0
boto3==1.29.0
botocore==1.32.0
click==8.1.7
flake8==6.1.0
isort==5.12.0
jmespath==1.0.1
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
pycodestyle==2.11.1
pyflakes==3.1.0
python-dateutil==2.8.2
s3transfer==0.7.0
six==1.16.0
urllib3==2.0.7
